.content-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.alerts-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  justify-content: space-between;
  /* background-color: aqua; */
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
